.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  padding-top: .5rem;
  background-color: #fff;
}
.TopBar h2 {
  margin: 0;
  padding: .5rem;
}
.TopBar h3 {
  padding: .4rem .5rem;
  border: .1rem solid;
  border-radius: .5rem;
  text-transform: uppercase;
  font-size: .8rem;
}
.TopBar .icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: .5rem;
  border: .1rem solid;
  border-radius: .5rem;
}
