.CustomInput {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #eee;
  border-radius: 5rem;
  width: 100%;
  box-sizing: border-box;
}
.CustomInput .icon-l,
.CustomInput .icon-r {
  opacity: .5;
  width: 2rem;
  padding: .5rem;
}
.CustomInput .icon-l {
  padding-left: .7rem;
  padding-right: .3rem;
}
.CustomInput .icon-r {
  padding-right: 1rem;
}
.CustomInput textarea {
  outline: 0;
  resize: none;
  border: 0;
  padding: .7rem .1rem;
  background-color: transparent;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  width: 100%;
}
.CustomInput textarea::placeholder {
  color: #0006;
}