.Loading {
  position: fixed;
  background-image: linear-gradient(to right, #e9ffeb, #ffffff 50%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Loading img {
  width: 4rem;
}
.Loading h4 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
}