.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.Login h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 2rem;
  padding: .5rem 1.5rem;
  border: .2rem solid;
  border-radius: 5rem;
}

.Login button {
  font-size: 1.3rem;
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding: .7rem 1.2rem;
  border-radius: .5rem;
  background-color: #008569;
  color: white;
}