.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.Login h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 2rem;
  padding: .5rem 1.5rem;
  border: .2rem solid;
  border-radius: 5rem;
}

.Login .input-cont{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #eee;
  border-radius: 5rem;
  width: 100%;
  box-sizing: border-box;
}
.Login .icon-l,
.Login .icon-r {
  opacity: .5;
  width: 2rem;
  padding: .5rem;
}
.Login .icon-l {
  padding-left: .7rem;
  padding-right: .3rem;
}
.Login .icon-r {
  padding-right: 1rem;
  width: 3rem;
  height: 2rem;
  opacity: .4;
}
.Login textarea, 
.Login input 
{
  outline: 0;
  resize: none;
  border: 0;
  padding: .7rem .1rem;
  background-color: transparent;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  white-space: nowrap;
  width: 100%;
}
.Login textarea::placeholder {
  color: #0006;
}

.Login button {
  outline: 0;
  font-size: 1.3rem;
  border: 0;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  background-color: #008569;
  box-shadow: .1rem .1rem .5rem #00ffd955;
  color: white;
  margin-top: 1rem;
}