.Login {
  text-align: center;
  padding: 1rem;
  flex: 1;
  box-sizing: border-box;
}
.Login form {
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem 1rem;
  box-shadow: .2rem .2rem .8rem #5d928843;
}
.Login img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: .7rem;
  margin: 1.7rem;
  background-image: linear-gradient(-45deg, #005229, #00d01c);
}
.Login h2 {
  font-size: 2.2rem;
  font-weight: 900;
  margin: 0;
}
.Login h3 {
  margin: 0;
  font-weight: 300;
  margin-bottom: 2rem;
}
.Login .modal-error {
  background-color: #af2311;
  margin-bottom: 1rem;
  color: #fff;
  padding: .5rem;
  border-radius: .5rem;
}

.Login .input-cont{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #effff0;
  border: .1rem solid #a4e0a4;
}
.Login .icon-l,
.Login .icon-r {
  width: 1.7rem;
  padding: .7rem;
}
.Login .icon-l {
  padding-left: .7rem;
  padding-right: .5rem;
}
.Login .icon-r {
  padding-right: .7rem;
  width: 2.5rem;
  height: 2rem;
}
.Login input 
{
  outline: 0;
  resize: none;
  border: 0;
  padding: .7rem .1rem;
  background-color: transparent;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  white-space: nowrap;
  width: 100%;
}
.Login input::placeholder {
  color: #0009;
}

.Login button {
  outline: 0;
  font-size: 1.5rem;
  border: 0;
  font-weight: 400;
  width: 100%;
  padding: .8rem 1.5rem;
  border-radius: 1rem;
  background-color: #008569;
  background-image: linear-gradient(90deg, #0089a4, #00b75b);
  box-shadow: .1rem .3rem .5rem #00ffd955;
  color: #fff;
  margin-top: .5rem;
}