body {
  background-image: linear-gradient(to right, #e9ffeb, #ffffff 50%);
  background-color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}